<div class="container">
  <form id="create" method="post" action="/posts/create">
    <h4>New post</h4>
    Title: <input type="text" name="title"><br><br>
    Body: <input type="text" name="body"><br><br>
    Tag: <input type="text" name="tag"><br><br>
    <input type="submit" value="Submit">
  </form>
</div>