<div class="container">
  <h1>Welcome to Path Unfolding!</h1>
  <h3>Share what interests and inspires you:</h3><br>

  <form id="create" method="get" action="/posts/create">
    <input type="submit" value="New post">
  </form><br><br>

  <form id="update" method="get" action="/posts/search_to_display" >
    <input type="submit" value="Update post">
  </form><br><br>

  <form id="search_to_display" method="get" action="/posts/tags">
    <input type="submit" value="View post">
  </form><br><br>
</div>
