<div class="container">
  
  <%= erb :partial_list_before_search %>

  <h4>Which post would you like to update?</h4>
  
  <form id="select_id_to_update" method="get" action="/posts/update">
    Enter a number:
    <input type="text" name="id">
    <input type="submit" name="Submit">
  </form>

</div>