<div class="container">
  
  <h4>Posts</h4>
  
  <ol>
    <% @all.each do |post| %>
      <li><%= post.title %></li>
    <% end %>
  </ol>

  <h4>Which post would you like to update?</h4>
  
  <form id="name_search" method="post" action="posts/search">
    Please enter a number:
    <input type="text" name="list_number">
  </form>

</div>